*{
  margin: 0;
  padding:0;
}
body{
  height: 100vh;
  width: 100vw;
  font-size: 0.5rem;
}
#googleMap{
  min-width: 60%; 
  height: 62vh;
  margin-bottom: 5px;   
}
header{
  background-color: rgb(241, 214, 56);
  color: rgb(86, 86, 58);
  height: 8vh;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: space-around;
  font-size: 0.6rem;
  text-align: center;
}
header img{
  height: 100%;
}
#coordenada{
  display: none;
}

label{
  font-size: 0.8rem;
  font-weight: bold;
}

form{
  text-align: center;
  margin-left: 5px;
}
form div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form div label{
  text-align: left;
  width: 25vw;
}
form input{
  width: 75%;
  text-align: center;
  margin: 2px 0px; 
}
form > input{
  width: 100%;
}
input{
  padding: 3px;
}
button{
  width: 70%;
  padding: 8px;
  font-weight: bolder;
  font-size: 1rem;
  margin-top: 5px;
  color: rgb(253, 252, 255);
  background:linear-gradient(rgb(28, 133, 28),rgb(116, 223, 116));
  border-radius: 12px;
}

/*======= Map Styling ============*/
.gmnoprint a, .gmnoprint span {
  display:none;
}
.gmnoprint div {
  background:none !important;
}
#GMapsID div div a div img{
  display:none;
}

@media only Screen and (min-width:700px){
  
  form{
    grid-area: form;
    margin-right: 5px;
    margin-top: 15px;
  }
  form > input{
    width: 90%;
  }
  #googleMap{
    grid-area: googleMap;
    height: 100%;
    margin-bottom: 5px;   
  }

  main{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100vh;
    grid-template-areas: 
    "form googleMap";
  }

}